<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Redux Effects</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active" routerLink="user/1">User</a>
        </li>
      </ul>

      <div class="d-flex">
        <input #txtInput (keyup.enter)="onClick(txtInput.value)" class="form-control me-2" type="Id User" placeholder="Search">
        <button (click)="onClick(txtInput.value)" class="btn btn-outline-success" type="button">Search</button>
      </div>
    </div>
  </div>
</nav>
